.container
  = form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f|
    %div
      = f.label :avatar, 'アバター'
    %div
      = f.file_field :avatar
    %div
      = f.label :bio, '自己紹介'
    %div
      = f.text_area :bio
    %div
      = f.label :theme, 'テーマ'
    %div
      = f.select :theme, Profile.themes.keys, {}, { class: 'text' }
    .btn-submit
      = f.submit '保存', class: 'btn-primary'
