= form_with(model: @profile, url: profile_path, local: true) do |f|
  %div
    = f.label :name, '名前'
  %div
    = f.text_area :name
  %div
    = f.label :bio, '自己紹介'
  %div
    = f.text_area :bio

  = f.submit '保存', class: 'btn-primary'
