.container
  .profilePage
    .profilePage_image
      = image_tag current_user.avatar_image, class: 'icon'
    .profilePage_upload#profile-upload
      .upload_btn
        = link_to edit_profile_path do
          %button プロフィール更新
      .avatar_cancel
        %button キャンセル
    .profilePage_name
      #{current_user.display_name}
    .profilePage_bio
      = current_user.profile&.bio

  - current_user.opinions.each do |opinion|
    = render 'commons/opinion', opinion: opinion

= javascript_pack_tag 'profile'
