.container
  %ul
    - @opinion.errors.full_messages.each do |message|
      %li= message
  = form_with(model: @opinion, url: opinions_path, method: 'post', local: true) do |f|
    %div
      = f.label :title, 'タイトル', class: 'label'
    %div
      = f.text_field :title, class: 'text'
    %div
      = f.label :content, '内容', class: 'label'
    %div
      = f.rich_text_area :content, class: 'ric'
    .btn-submit
      = f.submit '保存', class: 'btn-primary'
