.container
  .card
    .card_title
      = @opinion.title
    .card_content
      = @opinion.content
    .card_detail
      .card_detail_author
        %p= @opinion.author_name
      .card_detail_created
        %p= @opinion.display_created_at
      .card_detail_delete
        - if user_signed_in? && current_user.has_written?(@opinion)
          = link_to image_tag('delete.png', class:'delete'), opinion_path(@opinion), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }

