.container
  = render 'commons/opinion', opinion: @opinion
  - if user_signed_in?
    .comment#opinion_show{data: {opinion_id: @opinion.id, user_id: current_user.id, comments: @comments}}
  .comments_container
    .comments_signal
      .comments_chart
        = pie_chart @data, legend: false, width: '32px', height: '32px', colors: ['#bee5eb','#F9D5A7','#e04e4e']
      .comments_signal_all
        %button.all_btn All
      .comments_signal_blue
        = image_tag 'signal_blue.png'
      .comments_signal_red
        = image_tag 'signal_red.png'
    .card_signal
      .card_blue.hidden
        - @comments.each do |comment|
          - if comment.content.present?
            = render 'commons/comment', comment: comment
      .card_red.hidden
        - @comments.each do |comment|
          - if comment.content3.present?
            = render 'commons/comment', comment: comment
  - if user_signed_in? && !current_user.has_written?(@opinion)
    .comment_form
      .comment_btn.show_comment_form
        - if current_user.profile&.theme == 'dark'
          = image_tag 'w-comment.png'
        - else
          = image_tag 'comment.png'
      .comment_area.hidden
        .show_comment_form1.signal
          = image_tag 'signal_blue.png'
        .comment_text_area1.hidden
          = text_area_tag :comment_content, '', class: 'sm'
          .comment_cancel1.batsu
            - if current_user.profile&.theme == 'dark'
              = image_tag 'w-cancel2.png'
            - else
              = image_tag 'cancel2.png'
        .show_comment_form3.signal
          = image_tag 'signal_red.png'
        .comment_text_area3.hidden
          = text_area_tag :comment_content3, '', class: 'sm'
          .comment_cancel3.batsu
            - if current_user.profile&.theme == 'dark'
              = image_tag 'w-cancel2.png'
            - else
              = image_tag 'cancel2.png'
        .comment_btn
          - if current_user.profile&.theme == 'dark'
            = image_tag 'w-cancel.png', class: 'comment_cancel'
            = image_tag 'w-comment.png', class: 'add_comment_button'
          - else
            = image_tag 'cancel.png', class: 'comment_cancel'
            = image_tag 'comment.png', class: 'add_comment_button'

= javascript_pack_tag 'comment'
