.container
  .flex
    .card
      .card_title
        = @opinion.title
      .card_content
        = @opinion.content
      .card_detail
        .card_detail_author_image
          = link_to account_path(@opinion.user) do
            = image_tag @opinion.user.avatar_image
        .card_detail_author
          %p= @opinion.author_name
        .card_detail_created
          %p= @opinion.display_created_at
        .card_detail_delete
          - if user_signed_in? && current_user.has_written?(@opinion)
            = link_to image_tag('delete.png', class:'delete'), opinion_path(@opinion), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }

  .comment#opinion_show{data: {opinion_id: @opinion.id}}
  .comments_container
  - if user_signed_in? && !current_user.has_written?(@opinion)
    .comment_form
      .comment_btn.show_comment_form
        = image_tag 'comment.png'
      .comment_area.hidden
        .show_comment_form1.signal
          = image_tag 'signal_blue.png'
        .comment_text_area1.hidden
          = text_area_tag :comment_content, '', class: 'sm'
          .comment_cancel1.batsu
            = image_tag 'cancel2.png'
        .show_comment_form2.signal
          = image_tag 'signal_yellow.png'
        .comment_text_area2.hidden
          = text_area_tag :comment_content2, '', class: 'sm'
          .comment_cancel2.batsu
            = image_tag 'cancel2.png'
        .show_comment_form3.signal
          = image_tag 'signal_red.png'
        .comment_text_area3.hidden
          = text_area_tag :comment_content3, '', class: 'sm'
          .comment_cancel3.batsu
            = image_tag 'cancel2.png'
        .comment_btn
          = image_tag 'cancel.png', class: 'comment_cancel'
          = image_tag 'comment.png', class: 'add_comment_button'

= javascript_pack_tag 'comment'
