.container
  = render 'commons/opinion', opinion: @opinion
  - if user_signed_in?
    .comment#opinion_show{data: {opinion_id: @opinion.id, user_id: current_user.id, comments: @comments}}
  .comments_container
    .comments_signal
      .comments_signal_all
        %button.all_btn All
      .comments_signal_blue
        = image_tag 'signal_blue.png'
      .comments_signal_yellow
        = image_tag 'signal_yellow.png'
      .comments_signal_red
        = image_tag 'signal_red.png'
    .card_signal
      .card_blue.hidden
        - @comments.each do |comment|
          - if comment.content.present?
            = render 'commons/comment', comment: comment
      .card_yellow.hidden
        - @comments.each do |comment|
          - if comment.content2.present?
            = render 'commons/comment', comment: comment
      .card_red.hidden
        - @comments.each do |comment|
          - if comment.content3.present?
            = render 'commons/comment', comment: comment
  - if user_signed_in? && !current_user.has_written?(@opinion)
    .comment_form
      .comment_btn.show_comment_form
        = image_tag 'comment.png'
      .comment_area.hidden
        .show_comment_form1.signal
          = image_tag 'signal_blue.png'
        .comment_text_area1.hidden
          = text_area_tag :comment_content, '', class: 'sm'
          .comment_cancel1.batsu
            = image_tag 'cancel2.png'
        .show_comment_form2.signal
          = image_tag 'signal_yellow.png'
        .comment_text_area2.hidden
          = text_area_tag :comment_content2, '', class: 'sm'
          .comment_cancel2.batsu
            = image_tag 'cancel2.png'
        .show_comment_form3.signal
          = image_tag 'signal_red.png'
        .comment_text_area3.hidden
          = text_area_tag :comment_content3, '', class: 'sm'
          .comment_cancel3.batsu
            = image_tag 'cancel2.png'
        .comment_btn
          = image_tag 'cancel.png', class: 'comment_cancel'
          = image_tag 'comment.png', class: 'add_comment_button'

= javascript_pack_tag 'comment'
