.container
  - if current_page?(root_path)
    .search
      = search_form_for @q do |f|
        = f.label :title, "キーワード検索"
        = f.search_field :title_cont
        = f.submit "検索"
  - @opinions.each do |opinion|
    = link_to opinion_path(opinion) do
      = render 'commons/opinion', opinion: opinion
  - if current_page?(root_path)
    .pagenate
      = paginate @opinions
  - if user_signed_in?
    = link_to new_opinion_path do
      .float_btn.new_opinion
        - if current_user.profile&.theme == 'dark'
          = image_tag 'w-opinion.png'
        - else
          = image_tag 'opinion.png'
  = javascript_pack_tag 'hello_vue'
  = javascript_pack_tag 'custom_vue'
  #hello2
    %p {{ message }}
