= link_to opinion_path(opinion) do
  .card
    .card_title.title_index
      = opinion.title
    .card_content.content_height
      = opinion.content
    .card_detail
      .card_detail_author_image
        = image_tag opinion.user.avatar_image
      .card_detail_author
        %p= opinion.author_name
      .card_detail_created
        %p= opinion.display_created_at
