.container
  .profilePage{class: ('dark_font' if current_user.profile&.theme == 'dark')}
    .profilePage_image
      - if current_user.profile&.theme != 'dark'
        = image_tag user.avatar_image, class: 'icon'
      - else
        = image_tag user.dark_avatar_image, class: 'icon'
    .profilePage_name
      - if user.username.present?
        = user.username
      - else
        = 'ゲスト'
    .profilePage_bio
      %p= user.profile&.bio
    .profilePage_count_container
      .profilePage_count_opinions
        .profilePage_count_opinions_title
          %p= '投稿'
        .profilePage_count_opinions_num
          %p= user.opinions_count
      .profilePage_count_followings
        .profilePage_count_followings_title
          %p= 'フォロー'
        .profilePage_count_followings_num
          = link_to account_followings_path(user) do
            %p= user.followings_count
      .profilePage_count_followers
        .profilePage_count_followers_title
          %p= 'フォロワー'
        .profilePage_count_followers_num#follower_count
          = link_to account_follows_path(user) do
            %p= user.followers_count
    - if user == current_user
      .profilePage_upload#profile-upload
        .upload_btn
          = link_to edit_profile_path do
            %button プロフィール更新
        .avatar_cancel
          %button キャンセル
    - else
      .profilePage_followbtn.hidden.following
        フォローを外す
      .profilePage_followbtn.hidden.follow
        フォローする
  - user.opinions.each do |opinion|
    = render 'commons/opinion', opinion: opinion
