!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title KyoRon
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :rel => "stylesheet"}/
  %body.lihgt-theme{class: ('dark_color' if user_signed_in? && current_user.profile&.theme == 'dark')}
    - if !current_page?(new_user_session_path) && !current_page?(new_user_registration_path)
      %header.header{class: ('dark_color' if user_signed_in? && current_user.profile&.theme == 'dark')}
        .header_title
          = link_to '共論', root_path
        .header_right
          - if user_signed_in?
            #theme_data{data: {user_theme: current_user.profile&.theme}}
            - if current_page?(profile_path)
              .timeline-btn
                = link_to 'タイムライン', timeline_path
            - else
              .dropdown
                = image_tag current_user.avatar_image
                .dropdown_content.hidden
                  = link_to 'プロフィール', profile_path, class: 'log_out'
                  = link_to 'ログアウト', destroy_user_session_path, data: { method: 'delete' }, class: 'log_out'
          - else
            .guest
              = link_to 'ゲスト', users_guest_sign_in_path, method: :post
            .login_btn
              = link_to 'ログイン', new_user_session_path
    - if flash.present?
      .flash
        - flash.each do |key, value|
          %div{:class => key}= value
    - if !current_page?(root_path)
      .float_btn.back
        - if user_signed_in?
          - if current_user.profile&.theme == 'dark'
            = link_to 'javascript:history.back()' do
              = image_tag 'w-back.png'
          - else
            = link_to 'javascript:history.back()' do
              = image_tag 'back.png'
        - else
          = link_to 'javascript:history.back()' do
            = image_tag 'back.png'
    = yield
